ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cinza{
    color: #5f9ea0;
}

.roxo{
    color: #8a2be2;
}

.vermelho{
    color: #ff4500;
}

.rosa{
    color: #ff69b4;
}

.verde{
    color: #32cd32;
}

.azul{
    color: #1e90ff;
}

.amarelo{
    color: #ffd700;
}